body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

  background-image: url("patients\ bgp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
}

.patient-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #86D0EF;
  color: white;
}

span {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  color: #333;
}

/* 新增的按鈕樣式 */
.blue-button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: #273384;
}
